---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';
---

<BlogPostLayout title="hello world" date="Feb 25, 2026">
  <p>
    Welcome to my personal site! I was inspired to make this after seeing many other cool examples from developers, designers, writers, and artists.
  </p>

  <p>
    This site's intention is to be a portfolio to showcase my projects and a place to write about anything I find interesting. 
  </p>
</BlogPostLayout>
