@import "tailwindcss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #00171F;
    font-family: 'Roboto Mono Variable', monospace;
}

.site-text {
    color: #BFBFBF;
}

.highlight-text {
    color: #247BA0;
}

a:hover {
    text-decoration: underline;
}

.fade-canvas {
    opacity: 0;
    transition: opacity 3s ease;
}

.fade-canvas.loaded {
    opacity: 1;
}
