@import "tailwindcss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    @apply backdrop-filter backdrop-sepia
}

.fade-canvas {
    opacity: 0;
    transition: opacity 3s ease;
}

.fade-canvas.loaded {
    opacity: 1;
}
