---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="about">
  <h1 class="text-2xl font-bold mb-2">Luke McDowell</h1>

  <div class="mb-2 text-sm leading-relaxed">
    <p>
        I'm a software engineer who is eager to learn, grow, and contribute to impactful projects. I have 
        full-stack industry experience building scalable, production-grade systems using modern technologies.
        Currently working at <a class="highlight-text" href="https://www.zenobe.com/" target="_blank">Zenobe</a>, supporting the transition
        to clean transport.
    </p>
    <p class="mt-2">
      Feel free to reach out using one of the methods below if you want to work together.
    </p>
  </div>

  <div class="flex gap-4 text-sm highlight-text mb-10">
    <a href="mailto:luke.db.mcdowell@gmail.com">Email</a>
    <a href="https://www.linkedin.com/in/ldbm/" target="_blank">LinkedIn</a>
    <a href="https://github.com/lukemcdowell/" target="_blank">GitHub</a>
  </div>

</PageLayout>
