---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Sphere from "../components/Sphere.astro";
import CurrentlyPlaying from '../components/CurrentlyPlaying';
import SvgSphere from '../../public/favicon.svg';

const links = [
  // { href: '/projects', label: 'projects' },
  // { href: '/blog',     label: 'blog' },
  { href: '/about',    label: 'about' },
];
---

<Layout>
  <div class="site-text relative z-10">
    <nav class="flex justify-between items-center">
      <div class="flex items-center gap-3">
        <SvgSphere class="h-10 w-10" />
        <span class="font-bold">Luke McDowell</span>
      </div>
      <div class="flex gap-5 text-sm highlight-text">
        {links.map(({ href, label }) => (
          <a href={href}>{label}</a>
        ))}
      </div>
    </nav>
  </div>

  <div class="fixed top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <Sphere />
  </div>

  <div class="fixed bottom-10 sm:bottom-20 left-1/2 -translate-x-1/2 z-50 w-[calc(100%-2rem)] max-w-lg">
    <CurrentlyPlaying client:load />
  </div>
</Layout>
