---
const links = [
	{ name: "Projects", href: "#" },
	{ name: "CV", href: "#" },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Luke McDowell</title>
	</head>
	<body>
		<header class="max-w-4xl mx-auto bg-white p-6">
			<div class="flex items-center justify-between">
				<a href="#" class="text-xl font-bold">Luke McDowell</a>

				<nav class="space-x-6 font-mono text-lg">
					{links.map((link) => (
						<a
							href={link.href}
							class="hover:text-lime-600 transition-colors"
						>
							{link.name}
						</a>
					))}
				</nav>
			</div>

			<div class="mt-3 flex justify-center">
				<div class="w-full h-2 rounded-full border-2 border-lime-600"></div>
			</div>
		</header>
		<main class="max-w-4xl mx-auto p-6">
			<slot />
		</main>
	</body>
</html>
